---
import { baseUrl } from "../../utils/domain";
import retrieveImageUrl from "../../utils/retrieveImageUrl";
import stringToId from "../../utils/stringToId";
import Button from "../Elements/Button.astro";

let response = await fetch(`${baseUrl}home`);
let page = await response.json();
let data = page[0];

const {
	acf: { logo__header, company_name__header, list__header },
} = data;

const imageUrl = await retrieveImageUrl(logo__header);

const menuStrings = Object.entries<{ text: string; url: string }>(list__header).map(
	(item) => ({
		text: item[1].text,
		url: stringToId(item[1].text),
	}),
);
---

<header>
	<div class="container">
		<a
			href="/"
			class="title"
		>
			<img
				src={imageUrl}
				alt="PFWCES logo"
			/>
			{company_name__header}
		</a>
		<button id="hamburger">
			<div></div>
			<div></div>
			<div></div>
		</button>
		<nav id="navigation">
			<ul>
				{
					menuStrings.map((item, key) => {
						if (key !== menuStrings.length - 1) {
							return (
								<li>
									<a
										href={item.url}
										class="title title--header"
									>
										{item.text}
									</a>
								</li>
							);
						} else {
							return (
								<li>
									<Button
										text={item.text}
										href={item.url}
									/>
								</li>
							);
						}
					})
				}
			</ul>
		</nav>
	</div>
</header>

<script>
	const button = document.querySelector("#hamburger");
	const nav = document.querySelector("#navigation");

	function toggleNavClass() {
		nav.classList.toggle("open");
		button.classList.toggle("open");
	}

	button.addEventListener("click", toggleNavClass);
</script>

<style>
	header {
		padding-block: var(--fs-5) var(--fs-11);

		background-color: var(--green-400);
	}

	.container {
		display: flex;
		justify-content: space-between;
		gap: var(--fs-11);
		align-items: center;
	}

	.container > a {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		font-weight: var(--fw-4);
		font-size: var(--fs-6);
		text-shadow:
			1px -1px white,
			1px 1px white;
	}

	a > img {
		width: clamp(40px, 4vw, 70px);
	}

	ul {
		display: flex;
		align-items: center;
		gap: var(--fs-6);
		flex-wrap: wrap;
	}

	li:last-child {
		margin-left: var(--fs-3);
	}

	li > a:hover {
		font-weight: var(--fw-4);
	}

	button {
		display: none;
	}

	@media (max-width: 60em) {
		header {
			position: relative;
			z-index: 1;

			isolation: isolate;
		}

		header::before {
			content: "";

			position: absolute;
			inset: 0;
			z-index: -1;

			background-color: var(--green-400);
		}

		button {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 4px;

			--size: var(--fs-6);
			width: var(--size);
			height: var(--size);
			background-color: transparent;
			border: none;

			transition: transform 0.5s ease-in;
		}

		button div {
			width: 90%;
			height: 3px;
			background-color: var(--black-400);

			transition: transform 0.5s ease-in;
		}

		button.open {
			transform: rotate(90deg);
		}

		button.open div:first-child {
			transform: translateY(14px);
		}

		button.open div:last-child {
			transform: translateY(-14px);
		}

		nav {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -2;

			width: 100%;
			padding: var(--fs-3);

			background-color: var(--white-700);

			transition: transform 0.5s ease-in;
		}

		nav.open {
			transform: translateY(100%);
		}

		ul {
			flex-direction: column;
		}
	}
</style>
