---
import { Image } from "astro:assets";
import retrieveImageUrl from "../../utils/retrieveImageUrl.ts";
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";

const { heading_small_text, heading_big_text, image, list, buttonText } =
	Astro.props;

const imageUrl = await retrieveImageUrl(image);

const listAsArray = [];

for (const item in list) {
	const object = list[item];
	listAsArray.push({
		title: object["list-title__philosophy"],
		description: object["list-description__philosophy"],
	});
}
---

<section id="our-philosophy">
	<div class="container">
		<div class="row">
			<Image
				src={imageUrl}
				alt="Woman and two girls looking at crops"
				width="500"
				height="500"
			/>
			<SectionHeading
				smallText={heading_small_text}
				bigText={heading_big_text}
			/>
		</div>
		<ul>
			{
				listAsArray.map((item) => {
					return (
						<li>
							<h3 class="title title--small">{item.title}</h3>
							<p class="regular-text">{item.description}</p>
						</li>
					);
				})
			}
			<li>
				<Button
					href="#our-solution"
					text={buttonText}
				/>
			</li>
		</ul>
	</div>
</section>

<style>
	.row {
		display: flex;
		justify-content: space-between;
		gap: 5rem;

		margin-bottom: var(--fs-11);
	}

	img {
		width: 51.5%;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--fs-7) var(--fs-10);

		width: 54.75%;
		margin-inline: auto;
		margin-bottom: var(--fs-14);
	}

	ul li:last-child {
		grid-column: span 2;

		text-align: center;
	}

	@media (max-width: 60em) {
		.row {
			flex-direction: column-reverse;
			gap: 2.5rem;
		}

		img {
			width: 100%;
		}

		ul {
			width: 100%;
			gap: var(--fs-5);
		}

		ul p {
			text-wrap: pretty;
		}
	}

	@media (max-width: 35em) {
		ul {
			grid-template-columns: 1fr;
		}

		ul > li:last-child {
			grid-column: span 1;
		}
	}
</style>
