---
import { Image } from "astro:assets";
import retrieveImageUrl from "../../utils/retrieveImageUrl.ts";
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";

type Props = {
	heading_small_text: string;
	heading_big_text: string;
	description_1: string;
	description_2: string;
	button: string;
	image1: number | string;
	image2: number | string;
	image3: number | string;
	image4: number | string;
};

const {
	heading_small_text,
	heading_big_text,
	description_1,
	description_2,
	button,
	image1,
	image2,
	image3,
	image4,
} = Astro.props;

const imagesIds = [image1, image2, image3, image4];

const imagesUrls = await Promise.all(
	imagesIds.map(async (id) => await retrieveImageUrl(id)),
);
---

<section id="our-solution">
	<div class="container">
		<div class="text-content">
			<SectionHeading
				smallText={heading_small_text}
				bigText={heading_big_text}
			/>
			<p class="regular-text">
				{description_1}
			</p>
			<p class="regular-text">
				{description_2}
			</p>

			<ul>
				<p class="regular-text">These challenges include:</p>
				<li class="regular-text">Home Shortages and Homelessness</li>
				<li class="regular-text">Affordability</li>
				<li class="regular-text">Sustainable Agriculture</li>
				<li class="regular-text">Clean Energy Resources</li>
			</ul>

			<div class="button">
				<Button
					tag="a"
					href="#the-benefits"
				>
					{button}
				</Button>
			</div>
		</div>
		{
			imagesUrls.map((url) => {
				return (
					<div class="img">
						<Image
							src={url}
							alt=""
							width={1000}
							height={1000}
						/>
					</div>
				);
			})
		}
	</div>
</section>

<style>
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 43%;
		gap: var(--fs-9) var(--fs-8);
	}

	.text-content {
		grid-column: span 2;
	}

	p:first-of-type {
		margin-top: var(--fs-8);
	}

	p + p {
		margin-top: var(--fs-5);
	}

	p:last-of-type {
		margin-bottom: var(--fs-7);
	}

	.button {
		margin-bottom: 80px;
	}

	.img {
		position: relative;
	}

	.img::after {
		content: "";

		position: absolute;
		inset: 0;

		background-color: #000000;

		opacity: 35%;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	ul {
		margin-bottom: var(--fs-7);
	}

	li {
		padding-left: var(--fs-2);
	}

	@media (max-width: 60em) {
		.container {
			grid-template-columns: repeat(2, 1fr);
		}

		.button {
			margin-bottom: 0;
		}

		.img {
			aspect-ratio: 1;
		}
	}

	@media (max-width: 35em) {
		.container {
			grid-template-columns: repeat(1, 1fr);
		}

		.text-content {
			grid-column: span 1;
		}
	}
</style>
