---
import listObjectToArray from "../../utils/listObjectToArray.ts";
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";

const { heading_small_text, heading_big_text, list, button_1, button_2 } =
	Astro.props;

const listAsArray = listObjectToArray(list);
---

<section id="the-benefits">
	<div class="container">
		<div class="main-title">
			<SectionHeading
				smallText={heading_small_text}
				bigText={heading_big_text}
			/>
		</div>
		<ul>
			{
				listAsArray.map((item) => {
					return (
						<li>
							<h3 class="title title--small">{item.title}</h3>
							<p class="regular-text">{item.description}</p>
						</li>
					);
				})
			}
		</ul>
		<div class="button-container">
			<Button
				tag="a"
				href="#talk-to-us"
			>
				{button_1}
			</Button>
			<Button
				tag="a"
				href="#about-us"
				variant="secondary"
			>
				{button_2}
			</Button>
		</div>
	</div>
</section>

<style>
	section {
		background-color: var(--yellow-200);

		padding-block: 7rem;
	}

	.main-title {
		width: 100%;
		margin-inline: auto;
		margin-bottom: var(--fs-15);

		text-align: center;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(max(min(20rem, 100%), 50% - var(--fs-14) / 2), 1fr)
		);
		gap: var(--fs-14);
		justify-content: space-around;

		margin-bottom: var(--fs-15);
	}

	.button-container {
		display: flex;
		justify-content: center;
		gap: var(--fs-1);
	}
</style>
