---
import listObjectToArray from "../../utils/listObjectToArray.ts";
import retrieveImageUrl from "../../utils/retrieveImageUrl.ts";
import { Image } from "astro:assets";
import SectionHeading from "../Elements/SectionHeading.astro";
import Button from "../Elements/Button.astro";

const { heading_small_text, heading_big_text, list, image, button } = Astro.props;

const listAsArray = listObjectToArray(list);

const imageUrl = await retrieveImageUrl(image);
console.log(imageUrl);
---

<section id="the-problem">
	<div class="container">
		<div class="text-wrapper">
			<SectionHeading
				smallText={heading_small_text}
				bigText={heading_big_text}
			/>
		</div>
		<ul>
			{
				listAsArray.map((item) => {
					return (
						<li>
							<h3 class="title title--small">{item.title}</h3>
							<p class="regular-text">{item.description}</p>
						</li>
					);
				})
			}
			<li>
				<Image
					src={imageUrl}
					alt="Woman looking worried"
					width="300"
					height="300"
				/>
			</li>
			<li>
				<Button
					href="#our-philosophy"
					text={button}
				/>
			</li>
		</ul>
	</div>
</section>

<style>
	.container {
		display: flex;
		justify-content: space-between;
		gap: 5rem;
	}

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--fs-12) var(--fs-11);

		width: 55%;
	}

	ul img {
		height: 100%;
		object-fit: cover;
	}

	ul li:nth-child(1) {
		order: 1;
	}

	ul li:nth-child(2) {
		order: 2;
	}

	ul li:nth-child(3) {
		order: 4;
	}

	ul li:nth-child(4) {
		order: 3;
	}

	ul li:nth-child(5) {
		order: 5;
	}

	ul li:last-child {
		grid-column: span 2;

		text-align: center;
	}

	@media (max-width: 60em) {
		.container {
			flex-direction: column;
			gap: 2.5rem;
		}

		ul {
			gap: var(--fs-6);

			width: 100%;
		}
	}

	@media (max-width: 35em) {
		ul {
			grid-template-columns: 1fr;
		}

		ul li:nth-child(3) {
			order: 3;
		}

		ul li:nth-child(4) {
			order: 4;
		}

		ul li:last-child {
			grid-column: span 1;

			order: 5;
		}
	}
</style>
